/* A mãe de todos:  */
.main_login{
    display: flex;
    height: 100vh;
}

/* Banner da esquerda: */
.banner{
    background-image: url("../../assets/img/fundoLogin.png ");
    flex: 1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Form de login da direita: */
.section_login{
    flex: 1;
}