.botao{
    height: 60px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #73061b;
    color: white;
    border-radius: 6px;
    font-weight: bolder;
    box-shadow: 1px 4px 4px 0px black;
}

